In [4]:
import pandas as pd

names=['std_id','clump_thick','cell_size','cell_shape','marginal_adhesion','sgl_epi_cell_size','bare_nulei','bland_chromatin','normal_nuclei','mitoses','class']
df=pd.read_csv("breast-cancer-wisconsin.data",names=names)

df.head()

,std_id,clump_thick,cell_size,cell_shape,marginal_adhesion,sgl_epi_cell_size,bare_nulei,bland_chromatin,normal_nuclei,mitoses,class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2